



.logo-carousel {
  width: 100%;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 80px;
  background: transparent;
  position: relative;
  z-index: 3;
  background-color: rgb(11, 18, 31);
}


.logo-carousel::before,
.logo-carousel::after {
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logo-carousel::before {
  left: 0;
  background-image: linear-gradient(270deg,transparent 0,rgba(11,18,31,.8) 50%,#0b121f 90%);
  width: 30%;
}

.logo-carousel::after {
  right: 0;
  background-image: linear-gradient(90deg, transparent 0, rgba(11, 18, 31, .8) 50%, #0b121f 90%);
  width: 30%;
}

.logo-track {
  display: flex;
  animation: scroll 25s linear infinite;
}

.logo-item {
  flex: 0 0 auto;
  margin: 0 2.5rem;
}

.logo-item img {
  height: 80px;
  max-width: 125px;
  object-fit: contain;
  /* Remove the filter for now */
  /* filter: brightness(0) invert(1); */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .logo-item {
    margin: 0 1rem;
  }

  .logo-item img {
    max-width: 100px;
    height: auto;
  }
}
